body{
}
h1{
  text-align: center;
  color: blueviolet;
    align-content: center;
}
td{
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS",cursive;
    font-size: 20px;
    cursor: pointer;
}
table{
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left:-155px;
    top: 225px;
    border-radius: 5%;
	background-color: cadetblue;
	box-shadow: 0 15px 15px 0px rgba(0, 0, 0, 0.2);
}
table tr:first-child td{
    border-top: 0;
}
table tr:last-child td{
    border-bottom: 0;
}
table tr td:first-child{
    border-left: 0;
}
table tr td:last-child{
    border-right: 0;
}
.button:hover{
    background-color: lightpink;
    border-radius: 5%;
}
.gameover {
/*  display: none;  */
  width: 200px;
  top:550px;
  background-color: rgba(20,13,63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 1.5em;
}
.restart{
    background-color: lightcoral;
    font-weight: bold;
    width: 160px; height:60px; font-size: 20px;
    align-content: center;
    border-radius: 5%;
    display: block;
    margin: 10px auto;
}